
      body {
        font-family: "Roboto", sans-serif;
      }
      .con-image {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .image {
        width: 120px; 
        height: 120px; 
        border-radius: 50%; 
        object-fit: cover; 
        border: 5px solid #fff; 
      }
      .desc {
        text-align: center;
      }
      .name {
        color: #211c84;
      }
      .job {
        color: #b5a8d5;
      }
      table.tab-contact {
        border-collapse: collapse; 
        width: 100%; 
      }
      h3 {
        color: #7a73d1;
      }
      .th-contact {
        border: 1px solid #ccc; 
        padding: 10px; 
        text-align: left; 
        color: #fff2f2;
        background-color: #7a73d1;
      }

      .email {
        background-color: #b5a8d5;
        border: 1px solid #ccc; 
        padding: 15px;
        text-align: left; 
      }
      .phone {
        background-color: #fff2f2;
        border: 1px solid #ccc; 
        padding: 15px; 
        text-align: left; 
      }
      .address {
        background-color: #b5a8d5;
        border: 1px solid #ccc;
        padding: 15px; 
        text-align: left; 
      }
      .con-education {
        margin-top: 20px; 
      }
      table.tab-experience {
        border-collapse: collapse; 
        width: 100%; 
      }
      th.tab-head {
        border: 1px solid #ccc; 
        padding: 10px; 
        text-align: left; 
        color: #fff2f2;
        background-color: #7a73d1;
      }
      td.tab-rows1 {
        background-color: #b5a8d5;
        border: 1px solid #ccc; 
        text-align: left; 
      }
      td.tab-rows1 {
        background-color: #b5a8d5;
        border: 1px solid #ccc; 
        padding: 15px; 
        text-align: left; 
      }
      td.tab-rows2 {
        background-color: #fff2f2;
        border: 1px solid #ccc; 
        padding: 15px; 
        text-align: left; 
      }
      td.tab-rows3 {
        background-color: #b5a8d5;
        border: 1px solid #ccc; 
        padding: 15px; 
        text-align: left; 
      }